<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student PJ Home works</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="projector-home">

<main class="main-container">
    <h1>Homework - 5 - task 2</h1>
    <p>Homework description: <a target="_blanks" href="../../info/dz_5.pdf">link</a></p>
    <img src="../../img/home5/home5_2.png">
</main>

<script src="../../js/home5/home5_2.js"></script>

</body>
</html>