<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="projector-home">

<main class="main-container">
    <h1>Homework - 2 - task 3 - sub-task 1</h1>
    <p>Homework description: <a target="_blanks" href="../../info/dz_2.pdf">link</a></p>
    <img src="../../img/home2/home3_1.png">
</main>

    <script src="../../js/home2/home2_3_1.js"></script>
</body>
</html>