<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="projector-home">

<main class="main-container">
    <h1>Homework - 2</h1>
    <p>Homework description: <a target="_blanks" href="../../info/dz_2.pdf">link</a></p>
    <img src="../../img/home2/home2_1.png">
    <p>Реализация - через два цыкла</p>
</main>

    <script src="../../js/home2/home2_1_v2.js"></script>
</body>
</html>