<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student PJ Home works</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="projector-home">

<main class="main-container">
    <h1>Homework - 3 - task 1</h1>
    <p>Homework description: <a target="_blanks" href="../../info/dz_3.pdf">link</a></p>
    <img src="../../img/home3/home3_1.png">
    <p style="font-size: 25px;">
        На первой строке создается функция с именем test.<br>
        Далее происходит иницеализация функции. Создается локальная область видимости.<br>
        Ищем ключивые слова function и var. Далее создаем в текущей области видимости переменную с именем "foo" и записываем в нее содержимое функции "foo()".<br>
        Далее создаем переменную с именем "a" и записываем в нее "undefined";<br>
        Далее в строке 2 в консоль выводится значение переменной "а" равное "undefined";<br>
        На строке 3 в консоль выводится результат работы функции "foo()" равный числу "2".<br>
        Далее в текущей области видимости переменной "а" присваевается число "1";<br>
        Далее происходит инициализация функции "foo()" в теле которой происходит возврат числа "2".
    </p>
</main>

</body>
</html>