<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student PJ Home works</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="projector-home">

<main class="main-container">
    <h1>Homework - 3 - task 2</h1>
    <p>Homework description: <a target="_blanks" href="../../info/dz_3.pdf">link</a></p>
    <img src="../../img/home3/home3_2.png">
    <p style="font-size: 25px;">
        При выполнее данного кода изначально создается глобальная область видимости;<br>
        Далее ищем ключивые слова function и var;<br>
        Находим в текущей области видимости переменную "a" и присваиваем ей "undefined";<br>
        Далее в текущей глобальной области видимости переменной "а" присваевается число "1";<br>
        Далее создается функция с именем "b()";<br>
        Далее происходит иницеализация функции. Создается локальная область видимости;<br>
        Ищем ключивые слова function и var. Далее создаем в текущей области видимости переменную с именем "a" и записываем в нее содержимое функции "a()".<br>
        В строке 3 ищем в локальной области видимости переменную "а", не находим, выходим на верх и ищем в глобальной области видимости. Находим в глобальной области видимости переменную "а" и перезаписываем в нее значенение равное числу 10.<br>
        В строке 4 производится возврат от функции "b()" равний ничему!!!<br>
        В строке 5 создается функция с именем "a()" с пустым телом функции;<br>
        Далее происходит иницеализация функции. Создается локальная область видимости функции "a()";<br>
        В строке 7 вызываем функцию "b()" которая не возвращает ничего так как return пустой.<br>
        В строке 8 в консоль выводится число 10.
    </p>
</main>

</body>
</html>